MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=ecommerce

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

EUREKA_SERVER_URL=http://localhost:8761/eureka
API_GATEWAY_PORT=8080

KEYCLOAK_SERVER_URL=http://localhost:8085
KEYCLOAK_REALM=ecommerce-realm
KEYCLOAK_CLIENT_ID=ecommerce-client

ZIPKIN_BASE_URL=http://localhost:9411
PROMETHEUS_URL=http://localhost:9090

NGINX_PORT=8000

VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3001/payment/vnpay-return
VNPAY_VERSION=2.1.0
VNPAY_COMMAND=pay
VNPAY_ORDER_TYPE=other